.infinteScrollContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.swapCryptoText h2 {
  font-size: 4.5rem;
}
/* .animate {
  width: 100%;
  animation: marquee 20s linear infinite;
}
@keyframes marquee {
	0% {
		left: 0;
	}
	100% {
		left: -50%;
	}
} */
.case_1 {
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.scrollText {
  padding: 0 15px;
  font-size: 1.5rem;
  font-weight: 900;
  min-width: max-content;
}
.emoji {
  width: 50px;
}
/* .hmmm {
  display: grid;
  place-items: center;
  padding: 0 4px;
} */
a {
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 500px) {
  .infinteScrollContainer {
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .swapCryptoText h2 {
    font-size: 2rem;
    text-align: center;
  }
  .swapCrypto img {
    width: 350px;
  }
}

