.workfLowStages {
    display: flex;
}
.houseImg {
    width: 55rem;
    border-radius: 0 0 50% 50%;
}
.aboutDesc {
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-align: justify;
}
.cardsContainer {
    display: flex;
    gap: 5rem !important;
}
.circleVariant {
    /* box-sizing: border-box; */
    padding: 30px 30px;
    height: 26rem !important;
}
.circleVariantDesc {
    text-align: center;
    font-size: 1.2rem;
}
.aboutContainer {
    padding-bottom: 10rem;
}
.cardsContainer {
    padding-bottom: 10rem;
}
@media only screen and (max-width: 500px) {
    .houseImg {
        width: 100%;
    }
    .workfLowStages {
        padding: 0 1rem;
    }
    .aboutDesc {
        padding: 0 15px;
        text-align: left;
    }
    .circleVariant {
        /* margin: 0 20px; */
        /* width: rem; */
        /* box-sizing: content-box; */
        padding: 20px 20px;
    }
    .vision {
        height: 30rem !important;
    }
    .beforeWorkflow {
        margin-bottom: 7rem;
    }
}